@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.fire-results {
    margin-top: 20px;
    padding: 10px;
    background-color: $background-lightblue;
    border-radius: 4px;
  }
  