@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.calculator {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: $calculatorBackground;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.title {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .input-group {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 5px;
      font-weight: bold;
    }

    input {
      padding: 10px;
      border: 1px solid $borderColor;
      border-radius: 4px;
    }
  }

  .inflation-rate {
    display: block;
    padding: 8px;
    background-color: $alabaster;
    border: 1px solid $borderColor;
    border-radius: 4px;
  }
  .submit-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: $primary-green;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $primary-lightgreen;
    }
  }
}

.results {
  margin-top: 20px;
  padding: 10px;
  background-color: $background-lightblue;
  border-radius: 4px;
}
